<h1>About</h1>

<p>About Financial management</p>

<p class = "container">
    Financial management refers to the efficient and effective management of money 
    (funds) in such a manner as to accomplish the objectives of the organization. 
    It is the specialized function directly associated with the top management. 
    The significance of this function is not seen in the 'Line' 
    but also in the capacity of the 'Staff' in overall of a company. 
    It has been defined differently by different experts in the field.
    The term typically applies to an organization or company's financial strategy, 
    while personal finance or financial life management refers to an individual's management strategy. 
    It includes how to raise the capital and how to allocate capital, i.e. capital budgeting.
    Not only for long term budgeting, but also how to allocate the short term resources like current liabilities. 
    lso deals with the dividend policies of the share holders.   
</p>





