<% provide(:title, 'Contact') %>
<h1>Contact us</h1>
<p>If you have any questions, feel free to contact us</p>
<p>
    Contact the Ruby on Rails Tutorial about the app at the
    <a href="http://www.railstutorial.org/contact">contact page</a>.
</p>

<p>Contact us : RubyistCTRLDYT@gmail.com</p>
<p>QQ:XXXXXXXX</p>
<p>WechatID: XXXXXXX</p>
<p>WeiboID: XXXXXXX</p>







