<h1 class='retroshadow_while'>Help</h1>
<p>
    Get help on the Ruby on Rails-Financial Management at the
    <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
    To get help on this app, see the
    <a href="http://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em>
    book</a>.
</p>

<p>
    This page lists some locations where you can ask questions or make comments. 
    Once you have chosen an appropriate place to ask your question, 
    follow the instructions on how to post your question. 
    A helpful volunteer will answer your question shortly.
    Please note that misplaced questions may not be answered quickly.
</p>

<p>
    if you have any questions, you can contact us immediately.
    <%= link_to "Contact us", contact_path %>
</p>
