@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$gray-medium-light: #eaeaea;

@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    }

/* universal */

body {
    padding-top: 60px;
    }
    
section {
    overflow: auto;
    }
    
textarea {
    resize: vertical;
    }
    
.center {
    text-align: center;
    }

.center h1 {
    margin-bottom: 10px;
    }

#containerlogo {
    color: black;
}

    /* typography */
h1, h2, h3, h4, h5, h6 {
    line-height: 1;
    }

h1 {
    font-size: 3em;
    letter-spacing: -2px;
    margin-bottom: 30px;
    text-align: center;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    /*font-size: 92px; */
    padding: 20px 10px;
    /*text-align: center; */
    /*text-transform: uppercase;*/
    text-rendering: optimizeLegibility;
    &.elegantshadow {
        
        color: #131313;
        background-color: rgb(238,238,238);
        letter-spacing: .15em;
        text-shadow: 
          1px -1px 0 #767676, 
          -1px 2px 1px #737272, 
          -2px 4px 1px #767474, 
          -3px 6px 1px #787777, 
          -4px 8px 1px #7b7a7a, 
          -5px 10px 1px #7f7d7d, 
          -6px 12px 1px #828181, 
          -7px 14px 1px #868585, 
          -8px 16px 1px #8b8a89, 
          -9px 18px 1px #8f8e8d, 
          -10px 20px 1px #949392, 
          -11px 22px 1px #999897, 
          -12px 24px 1px #9e9c9c, 
          -13px 26px 1px #a3a1a1, 
          -14px 28px 1px #a8a6a6, 
          -15px 30px 1px #adabab, 
          -16px 32px 1px #b2b1b0, 
          -17px 34px 1px #b7b6b5, 
          -18px 36px 1px #bcbbba, 
          -19px 38px 1px #c1bfbf, 
          -20px 40px 1px #c6c4c4, 
          -21px 42px 1px #cbc9c8, 
          -22px 44px 1px #cfcdcd, 
          -23px 46px 1px #d4d2d1, 
          -24px 48px 1px #d8d6d5, 
          -25px 50px 1px #dbdad9, 
          -26px 52px 1px #dfdddc, 
          -27px 54px 1px #e2e0df, 
          -28px 56px 1px #e4e3e2;
      }
      &.retroshadow {
        color: #2c2c2c;
        background-color: rgb(238,238,238);
        letter-spacing: .05em;
        text-shadow: 
          4px 4px 0px #d5d5d5, 
          7px 7px 0px rgba(0, 0, 0, 0.2);
      }

      &.retroshadow_while {
        color: #2c2c2c;
        background-color: white;
        letter-spacing: .05em;
        text-shadow: 
          4px 4px 0px #d5d5d5, 
          7px 7px 0px rgba(0, 0, 0, 0.2);
      }
    }

h2 {
    font-size: 1.2em;
    letter-spacing: -1px;
    margin-bottom: 30px;
    text-align: center;
    font-weight: normal;
    color: $gray-light;
    }

p {
    font-size: 1.1em;
    line-height: 1.7em;
    }
    

    /* header */
#logo {
    float: left;
    margin-right: 10px;
    font-size: 1.7em;
    color: white;
    /*text-transform: uppercase;*/
    letter-spacing: -1px;
    padding-top: 9px;
    font-weight: bold;
    }



#logo:hover {
    color: rgb(51,122,183);
    text-decoration: none;
    }

#FMlogo{
    float: left;
    }

#FMlogo_small{
    float: right;
    }

/*img {
    display: none;
    } */
/* footer */

#PictureContainer{
    width: "100px";
    height: "100px";
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;    
}

footer a {
    color: #555;
    }

footer a:hover {
    color: #222;
    }
    
footer small {
    float: left;
    }
    
footer ul {
    float: right;
    list-style: none;
    }
   
footer ul li {
    float: left;
    margin-left: 15px;
    }

    /* miscellaneous */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
    @include box_sizing;
}

/* sidebar */
aside {
    section.user_info {
    margin-top: 20px;
}
section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
    border: 0;
    padding-top: 0;
}
span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
}
    h1 {
        font-size: 1.4em;
        text-align: left;
        letter-spacing: -1px;
        margin-bottom: 3px;
        margin-top: 0px;
    }
    }     
}
.gravatar {
    float: left;
    margin-right: 10px;
}

 .gravatar_edit {
     margin-top: 15px;
}  

/* forms */
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
    }
input {
    height: auto !important;
    }

#error_explanation {
    color: red;
    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;
    .form-control {
        color: $state-danger-text;
    }
}

.checkbox {
    margin-top: -10px;
    margin-bottom: 10px;
    
    span {
        margin-left: 20px;
        font-weight: normal;
    }
}

#session_remember_me {
    width: auto;
    margin-left: 0;
}

.users {
    list-style: none;
    margin: 0;
    li {
        overflow: auto;
        padding: 10px 0;
        border-bottom: 1px solid $gray-lighter;
    }
    
}

#delete_user {
    color:red;
    float: right;
}

#FMtext{
    float:left;
    position:relative;
    left:38%;
}

/* microposts */
.microposts {
    list-style: none;
    padding: 0;
    li {
        padding: 10px 0;
        border-top: 1px solid #e8e8e8;
    }
    .user {
        margin-top: 5em;
        padding-top: 0;
    }
    .content {
        display: block;
        margin-left: 60px;
        img {
            display: block;
            padding: 5px 0;
        }
    }
    .timestamp {
        color: $gray-light;
        display: block;
        margin-left: 60px;
    }
    .gravatar {
        float: left;
        margin-right: 10px;
        margin-top: 5px;
    }
}
    
aside {
    textarea {
        height: 100px;
        margin-bottom: 5px;
    }
}

span.picture {
    margin-top: 10px;
    input {
        border: 0;
    }
}