<br>
<p><%= link_to image_tag("FMlogo_small.png", id: "FMlogo_small"), root_path %></p>
<br><br><br>
<footer class="footer">
    <small>
        The <a href="http://www.railstutorial.org/">Ruby on Rails-Financial Management</a>
        by <a href="http://www.michaelhartl.com/">Wytee Deng</a>
    </small>
    <nav>
        <ul>
            <li><%= link_to "About", about_path %></li>
            <li><%= link_to "Contact", contact_path %></li>
            <li><a href="http://news.railstutorial.org/">News</a></li>
        </ul>
    </nav>
</footer>